.icon {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100px;
}

.container {
  /* margin: 0 auto; */
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px 0px 30px;
}

.root {
  position: relative;
  width: 600px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.header__button,
.window-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  background-color: rgb(29, 155, 240);
  color: white;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 700;
  transition: transform 0.5s ease;
}

.header__button:hover {
  transform: scale(1.2);
}

.header__button--no {
  display: none;
}

.window-wrapper {
  border: 1px solid rgba(0, 0, 0, 0.103);
  display: none;
  margin: 20px 0px;
  padding: 30px;
}

.window-wrapper p {
  font-size: 18px;
  font-weight: 700;
}

.window {
  width: 90%;
  margin: 15px 0px;
}

input {
  border: none;
  height: 52px;
  display: block;
  width: 100%;
  color: rgb(58, 58, 58);
  font-size: 18px;
  border-radius: 25px;
  padding-left: 20px;
}

input::placeholder {
  font-weight: 400;
  color: rgb(146, 146, 146);
}

input:first-child {
  font-size: 20px;
  font-weight: 700;
}

input:focus {
  outline: none;
  border: 1px solid rgb(186, 227, 255);
  height: 51px;
}

input:not(:placeholder-shown)::placeholder {
  opacity: 0;
}

.card {
  padding: 20px 30px;
  cursor: pointer;
}

.card p {
  width: 95%;
}

.card p::first-letter {
  font-size: 26px;
  /* font-weight: 700; */
  text-transform: capitalize;
}

.card:hover {
  background-color: rgba(236, 236, 236, 0.432);
  /* border: 1px solid rgb(29, 155, 240); */
  /* padding: 19px 29px; */
}

.card:hover .button::before,
.card:hover .button::after,
.card:hover .new-button::before,
.card:hover .new-button::after {
  background-color: rgb(29, 155, 240);
}

.name-wrapper {
  display: flex;
  justify-content: space-between;
}

.name-wrapper__text {
  width: 80%;
}

.name-wrapper__text a:first-child {
  color: rgb(29, 155, 240);
  font-size: 15px;
  font-weight: 700;
}

.name-wrapper__text a:first-child:hover {
  text-decoration: underline;
}

.name-wrapper__text a:nth-of-type(2) {
  color: rgb(71, 71, 71);
  text-transform: lowercase;
  font-size: 15px;
  padding: 0px 10px;
}

.name-wrapper__text a:last-child {
  color: rgb(71, 71, 71);
  text-transform: capitalize;
  font-size: 15px;
}

.name-wrapper__text a:last-child:hover {
  text-decoration: underline;
}

h1 {
  font-size: 18px;
  font-weight: 700;
  margin: 5px 0px 0px;
  width: 90%;
}

h1::first-letter {
  text-transform: capitalize;
}

.button,
.new-button {
  cursor: pointer;
  width: 10px;
  height: 10px;
  position: relative;
}

.button::before,
.button::after,
.new-button::before,
.new-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 80%;
  height: 1.5px;
  background-color: rgb(158, 156, 156);
}

.button::before,
.new-button::before {
  transform: translateY(-50%) rotate(45deg);
}

.button::after,
.new-button::after {
  transform: translateY(-50%) rotate(-45deg);
}

.none {
  display: none;
}

.visable {
  display: flex;
}
/*  */
.loading::after {
  position: fixed;
  transform: translate(-48%, -48%);
  top: 48%;
  left: 48%;
  width: 100px;
  content: "";
  border: 3px solid rgb(29, 155, 240, 0.3);
  width: 18px;
  height: 18px;
  border-radius: 25px;
  border-top-color: rgb(29, 155, 240);
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
