.root {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 100px;
  padding: 50px;
  background-color: rgb(248, 248, 248);
  box-shadow: 0px 0px 100px rgb(206, 203, 203);
}

.mainHeadline {
  font-size: 100px;
  color: rgb(255, 251, 0);
  background-color: #000000;
  width: 100%;
  /* padding: 15px 150px; */
  padding: 15px 0px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.image {
  width: 100%;
  height: 500px;
  background-image: url("./ewoks-2.jpg");
  background-size: cover;
  background-position-y: -100px;
  background-repeat: no-repeat;
}

.episod-card {
  border: 3px solid rgb(255, 255, 255);
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 50px;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  color: rgb(255, 81, 0);
}

.episod-card h3 {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  margin-top: 20px;
}

.classItem {
  /* color: red; */
  font-size: 16px;
  /* font-weight: 700; */
  font-style: italic;
  color: rgb(73, 73, 73);
}

ol {
  margin: 20px;
  margin-left: 70px;
}

.par {
  font-size: 24px;
  color: rgb(73, 73, 73);
}

.loading {
  display: flex;
  position: relative;
  justify-content: center;
  transform: translateZ(1px);
  padding-top: 30px;
  padding-bottom: 30px;
}
.loading > div {
  display: inline-block;
  width: 200px;
  height: 64px;
  margin: 8px;
  border-radius: 25%;
  background: orangered;
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes lds-circle {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}

.load-par {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 63px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 700;
}

.none {
  display: none;
}
