.wrapper {
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  width: 200px;
  height: 50px;
  background-color: rgb(164, 164, 165);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 25px;
  text-transform: uppercase;
  color: rgb(29, 29, 29);
  font-size: 14px;
}

.button:hover {
  color: white;
  background-color: rgb(146, 146, 146);
  text-shadow: 1px 1px 2px rgb(255, 255, 255);
}

.par {
  margin-top: 50px;
  font-size: 26px;
}

.text {
  margin-top: 50px;
  animation: flicker 2s infinite;
}

@keyframes flicker {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.none {
  display: none;
}
